beautifulsoup4
requests
requests-html
langchain
langchain-community
langchain-core
langchain-groq
langchain-google-genai
python-dotenv
langgraph
openai
langchain-openai
pandas
fastapi
uvicorn
pydantic
cors


#Embeddings
langchain-huggingface
sentence-transformers


langchain-qdrant
qdrant-client